body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #400000;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#nama {
    letter-spacing: 25px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
}

#well{
    font-weight: normal;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 250px;
}

button {
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}